@using CI_Platform.Entities.DataModels;
@model CI_Platform.Entities.ViewModels.BannerModel
<div class="banner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Banners.Count; i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
            }
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Banners.Count; i++)
            {
                var banner = Model.Banners[i];
                <div class="item @((i == 0) ? "active" : "")">
                    <div class="banner-image" style=" background-image: url(../Banners/@banner.Image);"></div>
                    <div class="carousel-caption">
                        <div class="image-caption">
                            <p>@banner.Text</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
