@model CI_Platform.Entities.ViewModels.LandingPageModel
@*@model CI_Platform.Entities.ViewModels.GetMissions;*@

@{
    Layout = "_HeaderLayout";
    ViewData["Title"] = "LandingPage";
    //int totalCards = ViewBag.totalRecords;
}

<partial name="_SearchBarPartial" id="searchbar-partialview" />

<div class="container">
    <div class="d-flex py-4">
        <h4 class="totalMissionsLine">Explore <span class="totalMissions">@*@totalCards missions*@</span></h4>

        <div class="d-flex align-items-center ms-auto sort-div-right gap-4">
            <div class="filter-box sort-box dropdown me-3">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <span>Sort by &nbsp;&nbsp;</span>
                    <img class="dropdown-icon" src="~/images/drop-down.png" alt="" />
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="sortByDropdown">
                    <li><a class="dropdown-item">Newest</a></li>
                    <li><a class="dropdown-item">Oldest</a></li>
                    <li><a class="dropdown-item">Lowest available seats</a></li>
                    <li><a class="dropdown-item">Highest available seats</a></li>
                    <li><a class="dropdown-item">My favourites</a></li>
                    <li><a class="dropdown-item">Registration deadline</a></li>
                </ul>
            </div>

            <ul class="d-flex align-items-center gap-2 nav nav-tabs">
                <li class="active grid me-3"><a data-toggle="tab" href="#GridView"><img class="p-1" src="~/images/grid.png" /></a></li>
                <li class=" list me-3"><a data-toggle="tab" href="#ListView"><img class="p-1" src="~/images/list.png" /></a></li>
            </ul>

        </div>
    </div>
</div>

<div class="tab-content card-container-list-grid">

    <!--
    <div id="GridView" class="tab-pane active">
    @*<partial name="_GridViewPartial"/>*@
    @*<partial name="_GridViewPartial" model="Model.MissionList"/>*@
    @*@Html.Partial("_GridViewPartial", Model.MissionList);*@
    </div>
    <div id="ListView" class="tab-pane">
    @*<partial name="_ListViewPartial" />*@
    </div>
    -->
</div>


@*pagination*@
<div class="container">
    <nav aria-label="Page navigation example" class="pagination justify-content-center">
        <ul class="pagination" id="pagination-container">
            <!-- its dynamically added when ajax call get success -->
        </ul>
    </nav>
</div>