@{
    Layout = "_HeaderLayout";
    ViewData["Title"] = "Stories Listing";
}

@*<partial name="_SearchBarPartial" />*@


<div class="hero-banner">
    <img src="../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <button type="button" class="btn btn-outline-light rounded-pill hero-btn px-4 py-2">Share your story &nbsp;<i class="bi bi-arrow-right"></i></button>
</div>

<div class="container">
    <div class="row">

        @*card 1*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3"/>
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 2*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 3*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 4*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 5*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>


        @*card 6*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 7*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 8*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>

        @*card 9*@
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    @*image and name*@
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3" />
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@*pagination*@
<div class="container">
    <nav aria-label="Page navigation example" class="pagination justify-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><img src="~/images/previous.png" /></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><img src="~/images/left.png" /></span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item active"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><img src="~/images/right-arrow1.png" /></span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><img src="~/images/next.png" /></span>
                </a>
            </li>
        </ul>
    </nav>
</div>