@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* login page styling */

.main-container {
    width: 100%;
    margin: auto;
}

.login-page {
    display: grid;
    grid-template-columns: 2.04fr 1fr;
    /* column-gap: 1rem; */
}

.carousel-indicators {
    margin-bottom: -0.2rem;
}

.item {
    position: absolute;
}

.carousel-image1,
.carousel-image2,
.carousel-image3 {
    background-image: url(../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.image-caption {
    position: relative;
    right: 14%;
}

    .image-caption h3 {
        font-family: 'Noto Sans', sans-serif;
        text-align: left;
        font-size: 2.7rem;
    }

    .image-caption p {
        font-family: 'Noto Sans', sans-serif;
        text-align: left;
        font-size: 1.2rem;
    }
/* form */

.login-section {
    display: flex;
    align-items:center;
    justify-content:center;
}

.formdiv {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 22%;
}

    .formdiv p {
        font-size: 14px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

.formcontent {
    width: 400px;
    margin-bottom: 138px;
}

    .formcontent p {
        font-size: 14px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        margin-bottom: 17px;
    }

.formlabels {
    color: #414141;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin: 9px 0;
    font-weight: 500;
}

.login-section .formcontent div input {
    border: solid 1px #D9D9D9;
    margin-bottom: 5px;
    box-shadow: 0.97px 0.26px 3px #0000000D;
}

.loginbtn {
    color: #F88634;
    border: solid 2px #F88634 !important;
    border-radius: 24px !important;
    background-color: white;
    width: 100%;
    margin-bottom: 15px !important;
    margin-top: 22px !important;
}

    .loginbtn:hover {
        color: #ffffff !important;
        background-color: #F88634;
    }

.formcontent p a,
.formdiv .privacy a {
    color: #414141;
    text-decoration: none;
}

.create-account {
    color: #2B64B1 !important;
}

.privacy {
    color: #414141;
}

@media screen and (max-width:1280px) {
    .formcontent {
        width: 376px;
    }
}

@media screen and (max-width:1180px) {
    .image-caption h3 {
        font-size: 2.6rem;
    }

    .image-caption p {
        font-size: 1.1rem;
    }

    .formcontent {
        width: 350px;
    }
}

@media screen and (max-width:1100px) {
    .formcontent {
        width: 325px;
    }

    .formlabels {
        font-size: 15px;
    }
}

@media screen and (max-width:1028px) {
    .image-caption h3 {
        font-size: 2.4rem;
    }

    .formcontent {
        width: 286px;
    }

        .formcontent p {
            font-size: 13px;
        }

            .formcontent p a,
            .formdiv .privacy a {
                font-size: 13px;
            }
}

@media screen and (max-width: 964px) {
    .image-caption h3 {
        font-size: 2.3rem;
    }

    .formcontent {
        width: 255px;
    }

        .formcontent p a {
            display: block;
        }
}
@media screen and (max-width: 880px) {
    .formdiv {
        width: 373px;
    }
    .formcontent {
        width: 316px;
    }

}

@media screen and (max-width: 844px) {
    .image-caption h3 {
        font-size: 2.1rem;
    }

    .formlabels {
        font-size: 14px;
    }
    .formdiv {
        width: 373px;
    }

}

@media screen and (max-width: 780px) {
    .login-page {
        grid-template-columns: 2fr 1fr;
    }

    .image-caption h3 {
        font-size: 2.1rem;
    }

    .image-caption p {
        font-size: 1rem;
    }

    .formcontent {
        width: 316px;
    }

    .formlabels {
        font-size: 13px;
    }

    .formcontent p a,
    .formdiv .privacy a {
        font-size: 12px;
    }

    .formdiv {
        margin-top: 5%;
    }

    .formcontent p {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .carousel-image1,
    .carousel-image2,
    .carousel-image3 {
        height: 50vh;
    }

    .image-caption h3 {
        font-size: 1.8rem;
    }

    .image-caption p {
        font-size: 0.9rem;
        margin: 0 !important;
    }

    .formlabels {
        font-size: 14px;
        margin: 6px 0;
    }

    .loginbtn {
        margin-top: 12px !important;
    }

    .login-page {
        grid-template-columns: 1fr;
    }

    .formcontent {
        width: 282px;
        margin-bottom: 14px;
    }

        .formcontent p a {
            display: inline;
        }
}

@media screen and (max-width: 490px) {
    .carousel-inner {
        height: 50vh;
    }

    .image-caption {
        padding-bottom: 20%;
    }

    .image-caption {
        right: 0;
    }

        .image-caption h3 {
            text-align: center;
        }

        .image-caption p {
            text-align: center;
        }
}

@media screen and (max-width: 451px) and (min-width:403px) {
    .image-caption {
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 402px) and (min-width:360px) {
    .image-caption {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 385px) and (min-width:360px) {
    .carousel-indicators {
        bottom: 30px !important;
    }
}
/* forgot password styling */

.formcontent h3 {
    text-align: center;
}
/* @media screen and (max-width: 490px) {
            .carousel-inner {
                height: 39vh;
            }
        } */
/* registration page styling */

.registration-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .registration-section .formcontent div input {
        border: solid 1px #D9D9D9;
        margin-bottom: 5px;
        box-shadow: 0.97px 0.26px 3px #0000000D;
    }

    .registration-section .formdiv {
        justify-content: center;
        display: grid;
        align-items: center;
        margin-top: 0;
    }

        .registration-section .formdiv .formlabels {
            font-size: 15px;
            margin: 7px 0;
        }

        .registration-section .formdiv .registrationbtn {
            color: #F88634;
            border: solid 2px #F88634 !important;
            border-radius: 24px !important;
            background-color: white;
            width: 100%;
            margin-bottom: 13px !important;
            margin-top: 14px !important;
        }

.formcontent p {
    margin-bottom: 9px;
}

.reset-pass-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-pass-section .privacy {
    margin-top: 6rem;
}

@media screen and (max-width:1280px) {
    .registration-section .formdiv .formlabels {
        font-size: 13px;
    }

    .registration-section .formdiv .registrationbtn {
        font-size: 13px;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 13px;
    }
}

@media screen and (max-width:1181px) {
    .registration-section .formdiv .formlabels {
        margin: 3px 0;
    }
}

@media screen and (max-width:1080px) {
    .registration-section .formdiv .formlabels {
        font-size: 12px;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 12px;
    }

    .registration-section .formcontent div input {
        max-height: 28px;
    }
}

@media screen and (max-width:1028px) {
    .reset-pass-section .privacy {
        margin-top: 4rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 17%;
    }
}

@media screen and (max-width:964px) {
    .reset-pass-section .privacy {
        margin-top: 3rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 13%;
    }

    .registration-section .formcontent div input {
        margin-bottom: 4px;
    }

    .registration-section .formcontent p a {
        display: inline;
    }

    .registration-section .formdiv .privacy {
        margin: 0 !important;
    }

    .registration-section .formcontent div input {
        max-height: 23px;
    }
        /* not working👇👇 */
        .registration-section .formcontent div input ::-webkit-input-placeholder {
            /* Chrome and Safari */
            color: red;
            font-size: 12px;
        }

    .registration-section .formdiv .registrationbtn {
        margin-bottom: 9px !important;
        margin-top: 10px !important;
        height: 29px;
        vertical-align: middle;
        padding-top: 4px;
    }
}

@media screen and (max-width:900px) {
    .reset-pass-section .privacy {
        margin-top: 1rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 9%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 2.3rem;
        }
}

@media screen and (max-width:880px) {
    .registration-page {
        display: grid;
        grid-template-columns: 1fr;
    }

        .registration-page .carousel-image1,
        .registration-page .carousel-image2,
        .registration-page .carousel-image3 {
            height: 50vh;
        }

    .registration-section .formdiv {
        margin-top: 3%;
    }

        .registration-section .formdiv .formcontent {
            width: 339px;
        }

    .registration-section .formcontent div input {
        max-height: 37px;
    }

    .registration-section .formdiv .formlabels {
        font-size: 15px;
        margin-bottom: 1rem;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 13px;
    }

    .registration-section .formdiv .registrationbtn {
        height: 37px;
        padding-top: 8px;
    }
}

@media screen and (max-width:864px) {
    .reset-pass-section .privacy {
        margin-top: 0.7rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 5%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 2.1rem;
        }

        .reset-pass-section .formdiv p {
            font-size: 12px;
        }
}

@media screen and (max-width:780px) {
    .reset-pass-section .privacy {
        margin-top: 0.3rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 2%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 1.8rem;
        }

        .reset-pass-section .formdiv p {
            font-size: 11px;
        }
}

@media screen and (max-width:738px) {
    .reset-pass-section .formdiv p {
        margin-bottom: 0;
    }
}

@media screen and (max-width:700px) {
    .reset-pass-section .formdiv p {
        margin-bottom: 1rem;
    }

    .reset-pass-section .privacy {
        margin-top: 1rem;
    }
}

@media screen and (min-width:360px) and (max-width:390px) {
    .reset-pass-section .formdiv {
        margin-top: -2%;
    }

    .registration-section .formdiv .formcontent {
        width: 300px;
    }
}
