@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans';
}
/* login page styling */
html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff !important;
    /*margin: 0 0 47px;*/
}


.main-container {
    width: 100%;
    margin: auto;
}

.login-page {
    display: grid;
    grid-template-columns: 2.04fr 1fr;
    /* column-gap: 1rem; */
}

.carousel-indicators {
    margin-bottom: -0.2rem;
}

.item {
    position: absolute;
}

.banner-image {
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.image-caption {
    position: relative;
    right: 14%;
}

    .image-caption h3 {
        font-family: 'Noto Sans', sans-serif;
        text-align: left;
        font-size: 2.7rem;
    }

    .image-caption p {
        font-family: 'Noto Sans', sans-serif;
        text-align: left;
        font-size: 2rem;
    }

/* form */
.validation-summary-errors ul {
    padding-left: 0 !important;
}

.login-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.formdiv {
    justify-content: center;
    display: grid;
    align-items: center;
    margin-top: 22%;
}

    .formdiv p {
        font-size: 14px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
    }

.formcontent {
    width: 400px;
    margin-bottom: 138px;
}

    .formcontent p {
        font-size: 14px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        margin-bottom: 17px;
    }

.formlabels {
    color: #414141;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    margin: 9px 0;
    font-weight: 500;
}

.login-section .formcontent div input {
    border: solid 1px #D9D9D9;
    margin-bottom: 5px;
    box-shadow: 0.97px 0.26px 3px #0000000D;
}

.loginbtn {
    color: #F88634;
    border: solid 2px #F88634 !important;
    border-radius: 24px !important;
    background-color: white;
    width: 100%;
    margin-bottom: 15px !important;
    margin-top: 22px !important;
}

.validation-summary-errors ul {
    list-style: none;
}

.loginbtn:hover {
    color: #ffffff !important;
    background-color: #F88634;
}

.formcontent p a,
.formdiv .privacy a {
    color: #414141;
    text-decoration: none;
}

.create-account {
    color: #2B64B1 !important;
}

.privacy {
    color: #414141;
}

.notification-icon-container {
    position: relative;
}

.notification-icon {
    font-size: 1.5rem;
}

.notification-count {
    position: absolute;
    right: 9px;
    top: -7px;
    background-color: #F88634;
    border-radius: 50%;
    padding: 1px 6px;
    color: #ffffff;
    font-size: 12px;
}



.no-notification-section{
    display:none;
}

.notifications-section {
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
}

.notification-settings-icon {
    cursor: pointer;
}

.notification-settings-section {
    display:none;
}

#notification-dropdown {
    top: 100%;
    right: 0;
    transform: translate(0%, 3%);
    width: 340px;
    overflow: hidden;
}

    #notification-dropdown span {
        font-size: 14px;
        padding: 1px 5px;
        cursor: pointer;
    }

.form-check-input:checked {
    background-color: #f88634;
    border-color: #f88634;
}

.notification-container {
    transition: transform 0.5s ease-out;
}


.notification-avatar {
    width: 30px;
    height: 30px;
}

.notification-blob {
    font-size: 10px;
}

@media screen and (max-width:1280px) {
    .formcontent {
        width: 376px;
    }
}

@media screen and (max-width:1180px) {
    .image-caption h3 {
        font-size: 2.6rem;
    }

    .image-caption p {
        font-size: 1.3rem;
    }

    .formcontent {
        width: 350px;
    }
}

@media screen and (max-width:1100px) {
    .formcontent {
        width: 325px;
    }

    .formlabels {
        font-size: 15px;
    }
}

@media screen and (max-width:1028px) {
    .image-caption h3 {
        font-size: 2.4rem;
    }

    .formcontent {
        width: 286px;
    }

        .formcontent p {
            font-size: 13px;
        }

            .formcontent p a,
            .formdiv .privacy a {
                font-size: 13px;
            }
}

@media screen and (max-width: 964px) {
    .image-caption h3 {
        font-size: 2.3rem;
    }

    .formcontent {
        width: 255px;
    }

        .formcontent p a {
            display: block;
        }
}

@media screen and (max-width: 880px) {
    .formdiv {
        width: 373px;
    }

    .formcontent {
        width: 316px;
    }
}

@media screen and (max-width: 844px) {
    .image-caption h3 {
        font-size: 2.1rem;
    }

    .formlabels {
        font-size: 14px;
    }

    .formdiv {
        width: 373px;
    }
}

@media screen and (max-width: 780px) {
    .login-page {
        grid-template-columns: 2fr 1fr;
    }

    .image-caption h3 {
        font-size: 2.1rem;
    }

    .formcontent {
        width: 316px;
    }

    .formlabels {
        font-size: 13px;
    }

    .formcontent p a,
    .formdiv .privacy a {
        font-size: 12px;
    }

    .formdiv {
        margin-top: 5%;
    }

    .formcontent p {
        font-size: 12px;
    }
}

@media screen and (max-width: 700px) {
    .banner-image {
        height: 50vh;
    }

    .image-caption h3 {
        font-size: 1.8rem;
    }

    .formlabels {
        font-size: 14px;
        margin: 6px 0;
    }

    .loginbtn {
        margin-top: 12px !important;
    }

    .login-page {
        grid-template-columns: 1fr;
    }

    .formcontent {
        width: 282px;
        margin-bottom: 14px;
    }

        .formcontent p a {
            display: inline;
        }
}

@media screen and (max-width: 490px) {
    .carousel-inner {
        height: 50vh;
    }

    .image-caption {
        padding-bottom: 20%;
    }

    .image-caption {
        right: 0;
    }

        .image-caption h3 {
            text-align: center;
        }
}

@media screen and (max-width: 451px) and (min-width:403px) {
    .image-caption {
        padding-bottom: 34px;
    }
}

@media screen and (max-width: 402px) and (min-width:360px) {
    .image-caption {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 385px) and (min-width:360px) {
    .carousel-indicators {
        bottom: 30px !important;
    }
}
/* forgot password styling */

.formcontent h3 {
    text-align: center;
}
/* @media screen and (max-width: 490px) {
            .carousel-inner {
                height: 39vh;
            }
        } */
/* registration page styling */

.registration-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .registration-section .formcontent div input {
        border: solid 1px #D9D9D9;
        margin-bottom: 5px;
        box-shadow: 0.97px 0.26px 3px #0000000D;
    }

    .registration-section .formdiv {
        justify-content: center;
        display: grid;
        align-items: center;
        margin-top: 0;
    }

        .registration-section .formdiv .formlabels {
            font-size: 15px;
            margin: 7px 0;
        }

        .registration-section .formdiv .registrationbtn {
            color: #F88634;
            border: solid 2px #F88634 !important;
            border-radius: 24px !important;
            background-color: white;
            width: 100%;
            margin-bottom: 13px !important;
            margin-top: 14px !important;
        }

.formcontent p {
    margin-bottom: 9px;
}

.reset-pass-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .reset-pass-section .privacy {
        margin-top: 6rem;
    }

@media screen and (max-width:1280px) {
    .registration-section .formdiv .formlabels {
        font-size: 13px;
    }

    .registration-section .formdiv .registrationbtn {
        font-size: 13px;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 13px;
    }
}

@media screen and (max-width:1181px) {
    .registration-section .formdiv .formlabels {
        margin: 3px 0;
    }
}

@media screen and (max-width:1080px) {
    .registration-section .formdiv .formlabels {
        font-size: 12px;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 12px;
    }

    .registration-section .formcontent div input {
        max-height: 28px;
    }
}

@media screen and (max-width:1028px) {
    .reset-pass-section .privacy {
        margin-top: 4rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 17%;
    }
}

@media screen and (max-width:964px) {
    .reset-pass-section .privacy {
        margin-top: 3rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 13%;
    }

    .registration-section .formcontent div input {
        margin-bottom: 4px;
    }

    .registration-section .formcontent p a {
        display: inline;
    }

    .registration-section .formdiv .privacy {
        margin: 0 !important;
    }

    .registration-section .formcontent div input {
        max-height: 23px;
    }
        /* not working👇👇 */
        .registration-section .formcontent div input ::-webkit-input-placeholder {
            /* Chrome and Safari */
            color: red;
            font-size: 12px;
        }

    .registration-section .formdiv .registrationbtn {
        margin-bottom: 9px !important;
        margin-top: 10px !important;
        height: 29px;
        vertical-align: middle;
        padding-top: 4px;
    }
}

@media screen and (max-width:900px) {
    .reset-pass-section .privacy {
        margin-top: 1rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 9%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 2.3rem;
        }
}

@media screen and (max-width:880px) {
    .registration-page {
        display: grid;
        grid-template-columns: 1fr;
    }

        .registration-page .carousel-image1,
        .registration-page .carousel-image2,
        .registration-page .carousel-image3 {
            height: 50vh;
        }

    .registration-section .formdiv {
        margin-top: 3%;
    }

        .registration-section .formdiv .formcontent {
            width: 339px;
        }

    .registration-section .formcontent div input {
        max-height: 37px;
    }

    .registration-section .formdiv .formlabels {
        font-size: 15px;
        margin-bottom: 1rem;
    }

    .registration-section .formcontent p a,
    .formdiv .privacy a {
        font-size: 13px;
    }

    .registration-section .formdiv .registrationbtn {
        height: 37px;
        padding-top: 8px;
    }
}

@media screen and (max-width:864px) {
    .reset-pass-section .privacy {
        margin-top: 0.7rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 5%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 2.1rem;
        }

        .reset-pass-section .formdiv p {
            font-size: 12px;
        }
}

@media screen and (max-width:780px) {
    .reset-pass-section .privacy {
        margin-top: 0.3rem;
    }

    .reset-pass-section .formdiv {
        margin-top: 2%;
    }

        .reset-pass-section .formdiv form h3 {
            font-size: 1.8rem;
        }

        .reset-pass-section .formdiv p {
            font-size: 11px;
        }
}

@media screen and (max-width:738px) {
    .reset-pass-section .formdiv p {
        margin-bottom: 0;
    }
}

@media screen and (max-width:700px) {
    .reset-pass-section .formdiv p {
        margin-bottom: 1rem;
    }

    .reset-pass-section .privacy {
        margin-top: 1rem;
    }
}

@media screen and (min-width:360px) and (max-width:390px) {
    .reset-pass-section .formdiv {
        margin-top: -2%;
    }

    .registration-section .formdiv .formcontent {
        width: 300px;
    }
}


/* header layout styling */

.left button,
.offcanvas-header button {
    border: none !important;
}

#exploreDropdown {
    transform: translate(50%, 8px);
}

    #exploreDropdown li {
        cursor: pointer;
    }

.middle .header-menu .dropdown-menu {
    transform: translate(0px, 8px);
    box-shadow: 0 2px 5px #E8E8E8;
    border: none;
    padding: 0;
}

.middle div ul li a {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
}

nav .right {
    cursor: pointer;
}

    nav .right img {
        width: 11px;
        height: 6px;
        margin-right: 11px;
    }

    nav .right .profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    nav .right p {
        margin-right: 9px !important;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

.navbar-toggler:focus {
    box-shadow: none;
    border: none !important;
}

.header-menu {
    margin-left: 85px;
}

    .header-menu li a {
        margin-right: 34px;
    }

.search-bar .dropdown-menu {
    height: 200px;
    overflow-y: auto;
    width: 150px;
    min-width: auto;
    white-space: normal;
    transform: translate3d(0px, 65px, 0px) !important;
    border-radius: 0;
    box-shadow: rgb(0 0 0 / 20%) 2px 2px 2px 0px;
    padding-left: 11px;
}
    /*.search-bar .dropdown .dropdown-menu:first-child {*/
    /* padding-left: 13px; */
    /*padding: 6px 0;*/
    /* line-height: 7px; */
    /*}*/
    .search-bar .dropdown-menu li, .search-bar .dropdown-menu li input {
        padding: 4px 0;
        cursor: pointer;
    }



.dropdown-item {
    white-space: normal;
    padding: .25rem 1.5rem;
}

#filters .offcanvas-body .dropdown {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-left: 0;
}

    #filters .offcanvas-body .dropdown .dropdown-menu {
        width: 100%;
        transform: translate3d(0px, 35px, 0px) !important;
    }

    #filters .offcanvas-body .dropdown:first-child .dropdown-menu {
        width: 100%;
        transform: translate3d(0px, 55px, 0px) !important;
    }

@media screen and (max-width:991px) {
    .header-menu {
        margin-left: 5px;
    }

    .offcanvas-header img {
        margin-top: 10px;
    }
}

@media screen and (max-width:425px) {
    .right p {
        display: none;
    }

    .dropdown-menu {
        transform: translateX(-6rem);
    }

        .dropdown-menu li a {
            font-size: 13px;
        }
}

@media screen and (max-width:320px) {
    .left button {
        padding: 0;
        font-size: 13px;
    }

        .left button + img {
            width: 56%;
        }

    .offcanvas-header {
        padding-bottom: 0;
    }

        .offcanvas-header img {
            width: 28%;
        }
}

/*search bar styling*/

.search-bar {
    box-shadow: 0 2px #E8E8E8;
}

.search-field {
    padding: 20px 20px 20px 0;
}

    .search-field img {
        width: 21px;
        margin-right: 10px
    }

    .search-field input {
        border: none;
    }

        .search-field input:focus {
            border: none;
            outline: none;
        }

input:focus-visible {
    outline-offset: 0 !important;
}

.search-bar .d-flex .dropdown {
    width: 150px;
    border-right: 1px solid #E8E8E8;
    padding: 20px 0;
}

.search-bar .dropdown:first-child {
    border-left: 1px solid #E8E8E8;
    padding: 20px 0;
}

.search-bar .dropdown a {
    color: #414141;
    margin-right: 17px;
    margin-left: 17px;
    padding-left: 7px !important;
}

    .search-bar .dropdown a img {
        margin-left: 18px;
    }

.dropdown li a {
    margin: 0 !important;
}

.filter-icon {
    display: none;
}

.pill {
    display: inline-block;
    border-radius: 50px;
    position: relative;
    font-size: 13px;
    line-height: 20px;
    padding: 5px 24px 5px 10px;
    border: 1px solid #E8E8E8;
    margin-bottom: 0.5rem;
}

    .pill .close {
        color: #757575;
        position: absolute;
        right: 7px;
        top: 3px;
        font-size: 17px;
        line-height: 20px;
        text-align: center;
        cursor: pointer;
    }

.closeAll {
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    cursor: pointer;
}

@media screen and (max-width:991px) {
    .search-bar .d-flex .dropdown {
        width: 108px;
    }

    .search-bar .dropdown a {
        margin-right: 0;
        margin-left: 15px;
    }

        .search-bar .dropdown a img {
            margin-right: 0px;
            margin-left: 4px;
        }

    .dropdown-menu {
        width: 108px;
    }
}

@media screen and (min-width:769px) and (max-width:991px) {
    /*.search-bar .d-flex .dropdown {
        width: auto;
    }*/
    .dropdown a {
        color: #414141;
        margin-right: 14px;
        margin-left: 13px;
        line-height: 10px;
    }

        .dropdown a img {
            margin-left: 0;
        }
}

@media screen and (max-width:768px) {
    .search-bar .d-flex {
        display: none !important;
    }

    .filter-icon {
        display: block;
    }

    .dropdown {
        border: none;
    }
}

@media screen and (min-width:425px) and (max-width:525px) {
    .pill {
        display: inline-block;
        border-radius: 50px;
        position: relative;
        font-size: 12px;
        line-height: 20px;
        padding: 4px 20px 4px 8px;
        border: 1px solid #E8E8E8;
    }

        .pill .close {
            color: #757575;
            position: absolute;
            right: 6px;
            top: 3px;
            font-size: 19px;
            line-height: 20px;
            text-align: center;
            cursor: pointer;
        }
}

@media screen and (max-width:425px) {
    .searched-filters {
        display: none;
    }
}


.sort-box {
    width: 10vw;
    min-width: max-content;
    border: 1px solid #e1e1e1;
}

    .sort-box ul li {
        cursor: pointer;
    }

    .sort-box a, .sort-box a:active {
        color: #414141 !important;
    }

    .sort-box + ul {
        border: none;
    }

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 0;
    margin-top: var(--bs-dropdown-spacer);
}

.dropdown-toggle::after {
    display: none !important;
}

.nav-tabs .active {
    /*height: 40px;
    width: 40px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.totalMissionsLine {
    font-size: 1.2rem;
    font-weight: 300;
}

    .totalMissionsLine span {
        font-size: 1.5rem;
        font-weight: 400;
    }
/*Grid view styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 0px 3px 0 rgb(0 0 0 / 20%);
    max-width: 400px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0;
    border: none;
}

.card-image {
    position: relative;
}

    .card-image img {
        width: 100%;
        border-radius: 0;
    }

    .card-image > img {
        height: 16rem;
        object-fit: cover;
    }

    .card-image .card-items img {
        width: auto;
    }


.card-items .location {
    display: flex;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 6px 10px 6px 10px;
    border-radius: 20px;
}

    .card-items .location p {
        color: #fff;
        display: inline;
        margin: 0;
        margin-left: 7px;
        font-size: 13px;
        opacity: 0.8;
    }

.card-items .fav {
    position: absolute;
    bottom: 31%;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 10px 8px 10px;
    border-radius: 50%;
}

    .card-items .fav i {
        cursor: pointer;
        font-size: 18px;
    }

.card-items .pause-mission-icon {
    position: absolute;
    bottom: 6%;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.mission-theme h3 {
    background-color: #fff;
    color: #414141;
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    top: 100%;
    left: 50%;
    min-width: max-content;
    transform: translate(-50%, -50%);
    padding: 5px 12px;
    border-radius: 13px;
}

.card-content {
    padding: 20px;
}

    .card-content .card-title {
        color: #414141;
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
    }

    .card-content .card-description {
        color: #bababa;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
    }

    .card-content .organization-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

        .card-content .organization-rating .organization p {
            margin: 0;
            color: #414141;
        }

.mission-details {
    position: relative;
    padding-top: 1.5rem !important;
    padding-left: 0 !important;
    min-height: 115px;
}

    .mission-details .seats-detail img,
    .mission-details .duration-detail img {
        margin-right: 14px;
        width: 33px;
        height: 33px;
    }

    .mission-details .seats-detail img {
        width: 28px;
        height: 28px;
    }

    .mission-details .seats-detail div p,
    .mission-details .duration-detail p {
        margin-bottom: 0;
        color: #414141;
    }

        .mission-details .seats-detail div p + p,
        .mission-details .duration-detail p + p {
            color: #757575;
        }

.progress {
    background-color: #E8E8E8 !important;
    height: 8px !important;
    width: 105px !important;
}

.progress-bar {
    background-color: #F88634 !important;
}

.mission-date {
    position: absolute;
    padding: 5px 10px;
    border-radius: 22px;
    border: 1px solid #E8E8E8;
    z-index: 1;
    background-color: #fff;
    top: 0;
    left: 50%;
    min-width: max-content;
    transform: translate(-50%, -50%);
}

    .mission-date p {
        color: #414141;
        margin-bottom: 0;
    }

.card-button {
    background-color: #fff !important;
    border: 1px solid #F88634 !important;
    border-radius: 23px !important;
    color: #F88634 !important;
    padding: 10px 20px;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px !important;
    margin: 10px auto 0 auto;
    cursor: pointer !important;
    width: max-content !important;
}

    .card-button img {
        margin-left: 10px;
    }

        .card-button img + img {
            display: none;
        }

    .card-button:hover {
        background-color: #F88634 !important;
        color: #fff !important;
    }

        .card-button:hover img {
            display: none;
        }

            .card-button:hover img + img {
                display: inline;
            }

.card-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    column-gap: 30px;
}


@media screen and (max-width:1199px) {

    .mission-date p {
        font-size: 14px;
    }

    .card-content .organization-rating .organization p {
        font-size: 15px;
    }
}








/*pagination style*/
.pagination li {
    margin: 10px 5px;
}

    .pagination li a {
        padding: 5px 11px;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        color: #414141;
        border: 1px solid #e8e8e8;
        /*padding-bottom: 8px;*/
    }

.pagination .active a {
    color: #fff;
    background-color: #F88634 !important;
    border-color: #F88634 !important;
}

/*list view styling*/

.list-card {
    max-width: 1400px;
    margin-bottom: 35px;
    overflow: inherit;
}

    .list-card .card-image-container img {
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .list-card .btn-login {
        margin: 0;
    }

.organization-rating-list-view p {
    margin-right: 1rem;
}

.card-items a {
    color: #fff;
    text-decoration: none;
}

.card-button-list-view {
    margin: 0;
}

.seats-detail p {
    font-weight: 400;
}

/*footer styling*/

footer {
    border-top: 1px solid #e1e1e1;
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    /*height: 72px;*/
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

    footer div p {
        cursor: pointer;
    }

    footer p a {
        color: #414141;
        text-decoration: none;
        margin: 1rem 1.5rem !important;
    }

        footer p a:hover {
            color: #757575;
        }

/*contact us design*/
#contact-us form label {
    color: #414141;
    font-weight: 400;
}

#contact-us form #Email, #contact-us form #Name {
    color: #757575;
}

#Email:disabled, #Name:disabled {
    background: #EBE7E7;
}

#message {
    resize: none;
}

/*viewport 991px grid and list view*/
@media screen and (max-width:991px) {
    .container div h4 + div {
        display: none !important;
    }

    #ListView {
        display: none;
    }

    #GridView {
        display: block;
    }
}
/*no mission found styling*/
.submitNewMissionBtn {
    width: 20%;
    align-self: center;
}

    .submitNewMissionBtn img {
        margin-left: 1rem;
    }

        .submitNewMissionBtn img + img {
            display: none;
        }

    .submitNewMissionBtn:hover img {
        display: none;
    }

        .submitNewMissionBtn:hover img + img {
            display: inline;
        }



/*mission volunteering styling*/

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.swiper {
    width: 100%;
    height: 300px; /*
    margin-left: ;
    margin-right: auto;*/
    margin-bottom: 0.6rem !important;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-prev:after, .swiper-button-next:after {
    content: 'prev';
    font-size: 20px !important;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /* height: 108%; */
    padding: 200px 4px !important;
}

.swiper-button-prev:focus, .swiper-button-next:focus {
    outline: none;
}

.swiper-button-prev {
    left: -4px !important;
    right: auto;
}

.swiper-button-next {
    right: -4px !important;
    left: auto;
}

.vm-mission-details {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

.vmheading {
    font-weight: 400;
    color: #414141;
}

    .vmheading + p {
        font-weight: 300;
    }

.vmbtn {
    border: 2px solid #757575 !important;
    border-radius: 33px !important;
    padding: 10px 17px !important;
}
    /*.vmbtn img+img{
        display:none;
    }*/
    .vmbtn:hover {
        background-color: #757575;
        color: #fff;
    }

.published-btn {
    background-color: #fff;
    color: #399244;
    border: 1px solid #399244;
    border-radius: 23px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: max-content;
}


.vmbtn .text-light {
    color: #414141 !important;
}

.vmbtn:hover .text-light {
    color: #fff !important;
}
/*.vmbtn:hover img{
        display:none;
    }
    .vmbtn:hover img+img{
        display:inline !important;
    }*/

.recent-volunteers.slide-from-right {
    transform: translateX(100%);
    animation: slideFromRight 0.5s forwards;
}

@keyframes slideFromRight {
    to {
        transform: translateX(0);
    }
}

.recent-volunteers.slide-from-left {
    transform: translateX(-100%);
    animation: slideFromLeft 0.5s forwards;
}

@keyframes slideFromLeft {
    to {
        transform: translateX(0);
    }
}


.recommend-icon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    background-color: #757575;
}

.vmbtn:hover .recommend-icon {
    background-color: #fff;
}

.recommend-text:after {
    content: "Recommend to a Co-Worker";
}

@media screen and (max-width:1387px) {
    .recommend-text:after {
        content: "Recommend";
    }
}

.star-capsule {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: auto !important;
    min-width: max-content;
}

    .star-capsule i {
        opacity: 0.6 !important;
        font-size: 1.3rem !important;
        cursor: pointer;
    }

.vm-cards div img {
    width: fit-content;
}

.vm-cards div p {
    color: #757575;
    font-weight: 300;
    margin-bottom: 0;
}

    .vm-cards div p + p {
        color: #414141;
        font-weight: 400;
    }

.vm-cards div {
    min-height: 150px;
}

/*mission organization comments*/
.vm-mis-org-com .nav-tabs button {
    color: #757575;
}

.vm-mis-org-com .nav-tabs .active {
    border-bottom: 2px solid black !important;
    border-radius: 0;
    color: #414141;
    font-weight: 400;
}

.vm-mis-org-com .nav-tabs .nav-link {
    border: none;
    /* border-bottom: 1px solid red; */
}

.mission-tab h2 {
    font-weight: 400;
}

.mission-tab h2, .mission-tab p {
    color: #414141;
}

.docs h2 + div {
    gap: 30px;
}

.docs div {
    flex-flow: wrap;
}

    .docs div div {
        padding: 6px 27px;
        border: 1px solid #E8E8E8;
        border-radius: 30px;
    }

.organization-tab p {
    color: #414141;
}

.show-comments {
    height: 400px;
    overflow-y: scroll;
    border: 7px solid #f7f7f7;
    overflow-x: hidden;
}

    .show-comments .comment {
        border-bottom: 4px solid #f7f7f7;
    }

        .show-comments .comment .comment-user {
            font-size: 1rem;
            margin-bottom: 0;
        }

        .show-comments .comment .comment-time {
            font-size: 0.8em;
        }

.comment div div img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.comment div div p {
    font-size: 14px;
    color: #414141;
}

.comment div div .comment-text {
    font-size: 15px;
}

.info-heading {
    width: fit-content;
    border-bottom: 1px solid black;
}

    .info-heading h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }

.mission-skills div div, .mission-date div div {
    color: #414141;
}

.mission-rating img + span {
    color: #757575;
    font-size: 14px;
}

.recent-volunteers div div img {
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.recent-volunteers div div p {
    text-align: center;
    font-size: 13px;
    color: #414141;
}

.carousel-control-next, .carousel-control-prev {
    position: unset;
}

#recentVolunteersSlider + div div div {
    padding: 12px 0;
}

.related-missions h2 {
    text-align: center;
    font-weight: 300;
    font-family: 'Noto Sans';
}

@media screen and (max-width:768px) {
    .comment div div img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}

@media screen and (max-width:433px) {
    .comment div div p {
        font-size: 12px;
        color: #414141;
    }

    .comment div div .comment-text {
        font-size: 13px;
    }
}

/*stories listing page styling*/

.hero-banner {
    height: 300px;
    position: relative;
}

    .hero-banner img {
        object-fit: cover;
        width: 100%;
        height: inherit;
        object-position: 50% 38%;
        filter: brightness(0.4);
    }

    .hero-banner p {
        color: #fff;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .hero-banner .hero-btn {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.story-creator img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
}

.story-creator span {
    font-weight: 300;
}

.story-card .card-image:hover img {
    filter: brightness(0.4);
}

.sl-card-btn {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: max-content;
    transform: translate(-86px, -17px);
    display: none;
}

.story-card .card-image .sl-card-btn:hover + img {
    filter: brightness(0.4);
}

.story-card .card-image:hover .sl-card-btn {
    display: block;
}

@media screen and (max-width:793px) {
    .hero-banner p {
        width: 79%;
    }
}

@media screen and (max-width:425px) {
    .pagination ul li {
        margin: 10px 2px;
    }

        .pagination ul li a {
            border-radius: 4px;
            color: #414141;
            font-size: 13px;
            padding: 5px 11px;
        }
}




/*share story styling*/


.form-select:focus, .form-control:focus {
    /* border-color: #86b7fe; */
    border-color: none !important;
    box-shadow: none !important;
    outline: 0;
    /* box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}

.sharestory {
    border-top: solid 1px #D9D9D9;
}

/*text area styling*/

.note-editor {
    margin-top: 6px;
    min-width: 100% !important;
    box-shadow: none !important;
}

.note-toolbar {
    background-color: #f8f8f8 !important;
}

.note-btn-group button:nth-child(3) {
    border-right: 2px solid #bcbcbc !important;
}

.note-btn-group button {
    border: none;
}

.note-status-output {
    background-color: #f8f8f8 !important;
}

    .note-status-output .note-statusbar {
        display: none !important;
    }

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.info-button, .info-button:hover {
    text-decoration: none;
    color: #000000;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 0px 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.info-icon:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
}




.drag-drop {
    width: 100%;
    margin: 10px auto;
    text-align: center;
    border: 1px dashed #757575;
    padding: 30px 0;
    background-color: #fff;
    cursor: pointer;
}

    .drag-drop img {
    }

.ssbuttons {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

    .ssbuttons .cancel-btn {
        height: fit-content;
        border-radius: 31px;
        padding: 10px 26px;
    }

    .ssbuttons div {
        gap: 20px;
        /*width: -webkit-fill-available;*/
    }

@media screen and (max-width:440px) {
    .ssbuttons .cancel-btn {
        align-self: flex-start;
    }

    .ssbuttons div {
        width: -webkit-fill-available;
        justify-content: space-between;
    }

        .ssbuttons div button {
            margin: 5px 0 15px 0;
        }

    .drag-drop {
        margin-bottom: 1rem !important;
    }
}

#image-list {
    flex-wrap: wrap;
}

    #image-list .image-item img {
        width: 4em;
        height: 4em;
    }

    #image-list .image-item {
        position: relative;
        margin: 2px 10px 15px 0;
    }

        #image-list .image-item .close-icon {
            cursor: pointer;
            position: absolute;
            right: 0px;
            top: 0px;
            background: rgba(0,0,0,0.4);
            color: white;
            padding: 0px 4px 2px 4px;
        }


/*story details page styling*/
iframe {
    width: inherit;
    height: inherit;
}

.volunteer-details img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.views-detail {
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    padding: 3px 20px;
}

.story-detail-btn {
    border-radius: 21px !important;
}

.volunteer-details span, .views-detail span, .story-description span {
    color: #414141;
}

.pause-mission-icon {
    position: absolute;
    bottom: 6%;
    right: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.st-mission-heading {
    font-size: 29px;
    font-weight: 400;
}

    .st-mission-heading span {
        border-bottom: solid 1px #757575;
        padding-bottom: 5px;
    }

    .st-mission-heading p {
        margin-bottom: 0px;
        /* padding-bottom:0px;*/
    }

.st-mission-description {
    padding-top: 20px;
}



/*User edit profile styling*/
.user-profile {
    gap: 20px;
    height: fit-content;
}

    .user-profile img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
    }

    .user-profile .user-name {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .user-profile .change-password {
        color: #757575;
    }

.user-image-wrapper {
    position: relative;
}

.edit-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.user-image-wrapper:hover .edit-icon {
    display: block;
}

.user-image-wrapper:hover img {
    filter: brightness(0.5);
}

.change-password {
    cursor: pointer;
}

.basic-info span {
    border-bottom: 1px solid black;
    font-size: 1.5rem;
}

.skill-btn {
    padding: 10px 26px;
    border-radius: 23px !important;
    width: max-content !important;
    display: inline;
}

.all-skill-options div label, .user-skill-options div label {
    cursor: pointer;
    display: block;
}

.arrows img {
    width: max-content;
    cursor: pointer;
}

.skill-bg {
    background: #e8e8e8 !important;
}

.skill-display {
    min-height: 5vh;
}


@media screen and (max-width : 991px) {
    .form-container {
        margin: auto;
        padding: 0;
    }

    .user-profile {
        padding: 20px !important;
    }
}

@media screen and (max-width : 575px) {
    .form-container {
        margin: auto;
        padding: 0;
    }

    .user-profile {
        width: auto;
        margin: auto;
        padding: 1rem !important;
    }
}


/*privacy policy page styling*/

/*.policyNavigation div button {
    border: none;
    background: none;
}

.policyNavigation div {
    border-bottom: solid 0.8px #D9D9D9;
}

    .policyNavigation div span {
        font-weight: 300;
    }

.policyNavigation .Pactive {
    font-weight: 500 !important;
}

.Ppreferences {
    border: none !important;
}

#Pintro, #PUseCookies {
    border-bottom: solid 0.8px #D9D9D9;
}

.Pcontainer li {
    list-style: disc;
}*/

.policyNavigation div button {
    border: none;
    background: none;
}

.policyNavigation a {
    border-bottom: solid 0.8px #D9D9D9;
}

.policyNavigation span {
    font-weight: 300;
}

.policyNavigation .Pactive {
    font-weight: 500 !important;
}

.Ppreferences {
    border: none !important;
}

.privacySections div {
    border-bottom: solid 0.8px #D9D9D9;
}


.Pcontainer li {
    list-style: disc;
}

/*volunteering timesheet styling*/

.timesheet-heading {
    font-weight: 300;
}

.timesheet-container {
    padding: inherit;
    grid-column-gap: 25px;
    grid-row-gap: 15px;
}

.vol-hours-heading, .vol-goals-heading {
    font-weight: 300;
    font-size: 1.3rem !important;
}

.vol-hours-container td, .vol-goals-container td {
    white-space: nowrap;
}

.table-responsive .no-timesheet-title {
    padding: 0 0.5rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

.table-responsive .generic-edit-icon, .table-responsive .generic-delete-icon {
    cursor: pointer;
}

#timeTable th::after, #timeTable th:before, #goalTable th::after, #goalTable th:before {
    content: none !important;
}

#timeTable_wrapper .row:last-child, #goalTable_wrapper .row:last-child {
    display: none;
}

#timeTable_wrapper .dataTables_empty, #goalTable_wrapper .dataTables_empty {
    display: none;
}

/*admin sidebar styling*/

.vertical-nav-admin {
    height: inherit;
}

    .vertical-nav-admin ul {
        list-style-type: none;
        padding: 38px 19px 0 19px;
        background-color: #F88634;
        min-height: 100%;
        overflow: auto;
    }

        .vertical-nav-admin ul li a {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 5px;
        }

        .vertical-nav-admin ul li:hover a {
            background-color: #FFFFFF;
            color: #F88634 !important;
            box-shadow: 3px 5px 10px #10446b29
        }

        .vertical-nav-admin ul li a span {
            white-space: nowrap;
        }

.admin-nav-active {
    background-color: #FFFFFF;
    color: #F88634 !important;
    box-shadow: 3px 5px 10px #10446b29
}

.admin-page-header {
    padding-top: 1rem;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 1.5rem;
}

    .admin-page-header h2 {
        margin-bottom: 0;
        display: inline-block;
        border-bottom: 1px solid gray;
    }

.main-content {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.admin-header {
    box-shadow: 3px 5px 10px #00000014;
    padding: 12px 26px;
}

    .admin-header img {
        width: 11px;
        height: 6px;
        margin-right: 11px;
    }

    .admin-header .profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }


    .admin-header p {
        margin-right: 9px !important;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 300;
    }

.main-table-content {
    padding: 0 2rem;
}

.dataTables_paginate a {
    margin: 10px 5px;
    padding: 5px 11px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
    color: #414141;
    border: 1px solid #e8e8e8;
}

.table-pagination-active {
    color: #fff !important;
    background-color: #F88634 !important;
    border-color: #F88634 !important;
}

.dataTables_paginate {
    margin-top: 2rem !important;
}

    .dataTables_paginate a:focus {
        outline: 0 !important;
    }

.dataTables_filter {
    display: none !important;
}

.admin-tables {
    overflow-y: hidden;
    padding-top: 10px;
    /*height:90vh;*/
}

    .admin-tables td, .admin-tables th {
        white-space: nowrap;
    }

.admin-search-field {
    position: relative;
    border: 1px solid #F4F4F4;
    max-width: max-content;
    color: #9e9e9e;
    border-radius: 3px;
}

    .admin-search-field i {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }

    .admin-search-field input {
        border: none;
        outline: none;
    }

.admin-tables table {
    /*padding:1rem;*/
}

    .admin-tables table thead {
        border-collapse: unset !important;
        background: #F8F9FC;
        border: 1px solid #E4E4E4 !important;
    }

        .admin-tables table thead tr th {
            border: none;
        }

    .admin-tables table tr th, .admin-tables table tr td {
        padding: 1rem;
    }

    .admin-tables table tr .active-class {
        color: #58d84e;
    }

    .admin-tables table tr .inactive-class {
        color: #ff0000;
    }

    .admin-tables table tbody tr td i {
        font-size: 19px;
        cursor: pointer;
    }

#user-form .user-image-wrapper {
    display: block;
}

    #user-form .user-image-wrapper img {
        width: 63px;
    }

    #user-form .user-image-wrapper .edit-icon {
        top: 46%;
        left: 4%;
        font-size: 14px;
        padding: 4px 7px;
    }


@media screen and (max-width:991px) {
    .vertical-nav-admin ul li a {
        width: max-content;
    }
}

/*Admin Cms page styling*/

.editAdminCMS {
    padding-right: 18px;
}

.cms-form-heading {
    background-color: #0000000F;
}

#cms-form {
    padding: 0px 22px;
}

.tox .tox-menubar {
    display: none !important;
}

.tox .tox-statusbar {
    display: none !important;
}

.tox-toolbar__primary {
    background: #F8F9FC !important;
}

/*Admin mission page styling*/

.mission-skills {
    padding: 8px 12px;
    border-radius: 5px;
}

    .mission-skills a {
        color: black;
    }

    .mission-skills ul {
        max-height: 143px;
        overflow-y: scroll;
    }

.selected-file {
    border: 1px solid #acacac;
    color: #5a5a5a;
    border-radius: 21px;
    padding: 2px 16px;
    margin-right: 10px;
}

    .selected-file .filename {
        margin-right: 10px;
    }

    .selected-file .remove {
        font-size: 13px;
        font-weight: 500;
        cursor: pointer;
    }

.default::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.story-view-btn {
    padding: 2px 8px !important;
    font-size: 12px !important;
}

.banner-table-images {
    max-width: 100%;
    max-height: 75px;
    object-fit: cover;
}

#banner-image-preview {
    display: none;
    max-width: 100%;
    max-height: 200px;
}

#banner-image-preview-on-edit {
    max-width: 100%;
    max-height: 200px;
}
