
@model CI_Platform.Entities.ViewModels.UserHeaderViewModel;
 <div>
                                    <label class="formlabels" for="Name">Name*</label>
                                    <input type="text" class="form-control" id="Name" for="Name" name="Name" value="@Model.UserName" disabled>
                                </div>
                                <div>
                                    <label class="formlabels" for="Email">Email*</label>
                                    <input type="email" class="form-control" id="Email" for="Email" name="Email" value="@Model.userEmail" disabled>
                                </div>