
@model CI_Platform.Entities.ViewModels.ForgotPasswordModel
@{
    Layout = "_Login_Layout";
    ViewData["Title"] = "Forgot Password";
}


@if (Model?.emailSent == true)
{
    <div class="alert alert-success">
    <strong>Success!</strong> We have sent an email
    </div>
}
    <div class="login-section">
                <div class="mt-3 formdiv">
                    <form action="" method="post" class="formcontent">
                        <h3>Forgot Password</h3>
                        <p>Enter your email address you've using for your account below and we will send you a password reset link</p>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="email" name="email" value="evan.donohue@gmail.com">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn mt-3 loginbtn">Reset my Password</button>
                        <p><a class="login" asp-controller="Home" asp-action="Index">Login</a></p>
                    </form>
                    <p class="privacy"><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
                </div>
            </div>
    <!-- <script src="js/index.js"></script> -->



@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}