@model CI_Platform.Entities.ViewModels.RegistrationModel
@{
     Layout = "_Login_Layout";
    ViewData["Title"] = "Register Yourself";
}

<body>
    
            <div class="registration-section">
                <div class="mt-3 formdiv">
                    <form action="" method="post" class="formcontent">
                        <div asp-validation-summary=ModelOnly class="text-danger"> </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="FirstName">First Name</label>
                            <input type="text" asp-for="FirstName" class="form-control" id="fnmae" placeholder="Enter first name" name="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" for="LastName">Last Name</label>
                            <input type="text" asp-for="LastName" class="form-control" id="lname" placeholder="Enter last name" name="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="PhoneNumber">Phone Number</label>
                            <input type="number" class="form-control" id="phone-number" asp-for="PhoneNumber" placeholder="Enter phone number" name="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="Email">Email Address</label>
                            <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Enter email" name="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="formlabels" asp-for="Password">Password</label>
                            <input type="password" class="form-control" asp-for="Password" id="pwd" placeholder="Enter password" name="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="formlabels" asp-for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" asp-for="confirmPassword" id="re-pwd" placeholder="Reenter password" name="confirmPassword">
                             <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn mt-3 registrationbtn">Register</button>
                        <p><a class="lost-password" asp-controller="Home" asp-action="Forgot_Password">Lost your password?</a></p>
                        <p>Already registered? <a class="create-account" asp-controller="Home" asp-action="Index">Login</a></p>
                    </form>
                    <p class="privacy"><a href="#">Privacy Policy</a></p>
                </div>
            </div>
    <script src="js/registration.js"></script>
</body>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}