@model CI_Platform_web.Models.Registration
@{
     Layout = "_Login_Layout";
    ViewData["Title"] = "Register Yourself";
}

<body>
    
            <div class="registration-section">
                <div class="mt-3 formdiv">
                    <form action="/action_page.php" class="formcontent">
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="firstName">First Name</label>
                            <input type="text" asp-for="firstName" class="form-control" id="fnmae" placeholder="Enter first name" name="firstName" value="evan">
                            <span asp-validation-for="firstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="Enter last name" name="lname" value="donohue">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="PhoneNumber">Phone Number</label>
                            <input type="number" class="form-control" id="phone-number" asp-for="PhoneNumber" placeholder="Enter phone number" name="PhoneNumber" value="8923454615">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="email">Email Address</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value="evan.donohue@gmail.com">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="formlabels" asp-for="password">Password</label>
                            <input type="password" class="form-control" asp-for="password" id="pwd" placeholder="Enter password" name="password" value="varun">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="formlabels" asp-for="confirmPassword">Confirm Password</label>
                            <input type="password" class="form-control" asp-for="confirmPassword" id="re-pwd" placeholder="Reenter password" name="confirmPassword" value="varun">
                             <span asp-validation-for="confirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn mt-3 registrationbtn">Register</button>
                        <p><a class="lost-password" asp-controller="Home" asp-action="Forgot_Password">Lost your password?</a></p>
                        <p>Already registered? <a class="create-account" asp-controller="Home" asp-action="Index">Login</a></p>
                    </form>
                    <p class="privacy"><a href="#">Privacy Policy</a></p>
                </div>
            </div>
    <script src="js/registration.js"></script>
</body>