@model CI_Platform_web.Models.ResetPassword
@{
    Layout = "_Login_Layout";
    ViewData["Title"] = "Reset Your Password";
}

<body>
    
            <div class="reset-pass-section">
                <div class="formdiv">
                    <form action="/action_page.php" class="formcontent">
                        <h3>New Password</h3>
                        <p>Please enter a new password in the fields below.</p>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="password">New Password</label>
                            <input type="password" class="form-control new-pass" id="resetNewPass" asp-for="password" placeholder="Enter email" name="password" value="varun">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="formlabels" asp-for="ConfirmPassword">Confirm New Password</label>
                            <input type="password" class="form-control confirm-new-pass" id="confirmResetNewPass" asp-for="ConfirmPassword" placeholder="Enter email" name="ConfirmPassword" value="varun">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn mt-3 loginbtn" onclick="verifyPassword()">Change Password</button>
                        <p><a class="login" asp-controller="Home" asp-action="Index">Login</a></p>
                    </form>
                    <p class="privacy"><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
                </div>
            </div>
    <script src="js/reset-password.js"></script>
</body>