@model CI_Platform.Entities.ViewModels.PasswordResetModel
@{
    Layout = "_Login_Layout";
    ViewData["Title"] = "Reset Your Password";
}

<body>

    <div class="reset-pass-section">
        <div class="formdiv">
            @if (Model?.PasswordChanged == true)
            {
                <div class="alert alert-success">
                    Your password has been changed successfully
                    <a href="#" class="close ms-3" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
                <p><a class="login" asp-controller="Home" asp-action="Index">Back to Login</a></p>
            }
            else
            {

                <form action="" method="post" class="formcontent">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Email" type="hidden" />
                    <input asp-for="Token" type="hidden" />
                    <h3>New Password</h3>
                    <p>Please enter a new password in the fields below.</p>

                    <div class="mb-3 mt-3">
                        <label class="formlabels" asp-for="password">New Password</label>
                        <input type="password" class="form-control new-pass" id="resetNewPass" asp-for="password" placeholder="Enter email" name="password">
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="formlabels" asp-for="ConfirmPassword">Confirm New Password</label>
                        <input type="password" class="form-control confirm-new-pass" id="confirmResetNewPass" asp-for="ConfirmPassword" placeholder="Enter email" name="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn mt-3 loginbtn">Change Password</button>
                    <p><a class="login" asp-controller="Home" asp-action="Index">Login</a></p>
                </form>
            }
            <p class="privacy"><a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
        </div>
    </div>
    <script src="js/reset-password.js"></script>
</body>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}