<div class="container">

            <div class="row">

            <!-- card 1 -->
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>Toronto</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Environment</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Grow Trees - On the path to environment sustainibility</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>Tree Canada</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>

                    <!-- seats and deadline -->
                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                        <div class="seats-detail d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <div class="d-flex flex-column">
                                <p>10</p>
                                <p>Seats left</p>
                            </div>
                        </div>
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p>09/01/2019</p>
                                <p>Deadline</p>
                            </div>
                        </div>

                        <div class="mission-date">
                            <p>From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>

                    <!-- apply button -->
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            Apply
                            <img src="~/images/right-arrow.png" alt="">
                            <img src="~/images/right-arrow2.png" alt="">
                    </button>
                </div>
            </div>
            </div>


            <!-- card 2 -->
            <div class="col col-md-6 col-lg-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>Melbourne</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Environment</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Education Supplies for Every Pair of Shoes Sold</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>Australian Paradise</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>

                    <!-- seats and deadline -->
                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                        <div class="seats-detail d-flex align-items-center">
                            <img src="~/images/Already-volunteered.png" alt="">
                            <div class="d-flex flex-column">
                                <p>250</p>
                                <p>Already Volunteered</p>
                            </div>
                        </div>
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p>09/01/2019</p>
                                <p>Deadline</p>
                            </div>
                        </div>

                        <div class="mission-date">
                            <p>From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>

                    <!-- apply button -->
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            Apply
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
                        </button>
                </div>
            </div>
            </div>


            <!-- card 3 -->
            <div class="col col-md-6 col-lg-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/Nourish-the-Children-in--African-country.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>Barcelona</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Nutrition</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Nourish the Children in African country</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>The Hunger</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>

                    <!-- seats and deadline -->
                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                        <div class="seats-detail d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <div class="d-flex flex-column">
                                <p>10</p>
                                <p>Seats left</p>
                            </div>
                        </div>
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p>09/01/2019</p>
                                <p>Deadline</p>
                            </div>
                        </div>

                        <div class="mission-date">
                            <p>Ongoing Oportunity</p>
                        </div>
                    </div>

                    <!-- apply button -->
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            Apply
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
                        </button>
                </div>
            </div>
            </div>


            <!-- card 4 -->
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="Card Image">
    
                        <!-- location favourite and pause mission  -->
                        <div class="card-items">
                            <div class="location">
                                <img src="~/images/pin.png" alt="">
                                <p>London</p>
                            </div>
                            <div class="fav">
                                <img src="~/images/heart.png" alt="">
                            </div>
                            <div class="pause-mission-icon">
                                <img src="~/images/user.png" alt="">
                            </div>
                        </div>
    
                        <!-- mission theme capsule -->
                        <div class="mission-theme">
                            <h3>Environment</h3>
                        </div>
                    </div>
    
                    <!-- card content -->
                    <div class="card-content">
                        <h2 class="card-title">CSR initiative stands for Coffee and Farmer Equity</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
    
                        <!-- organization and rating -->
                        <div class="organization-rating">
                            <div class="organization">
                                <p>CSE Network</p>
                            </div>
                            <div class="rating">
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                            </div>
                        </div>
    
                        <!-- seats and deadline -->
                        <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                            <div class="seats-detail d-flex align-items-center">
                                <img src="~/images/Already-volunteered.png" alt="">
                                <div class="d-flex flex-column">
                                    <p>250</p>
                                    <p>Already volunteered</p>
                                </div>
                            </div>
                            <div class="duration-detail d-flex align-items-center">
                                
                            </div>
    
                            <div class="mission-date">
                                <p>Ongoing Oportunity</p>
                            </div>
                        </div>
    
                        <!-- apply button -->
                        <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                                Apply
            <img src="~/images/right-arrow.png" alt="">
            <img src="~/images/right-arrow2.png" alt="">
                            </button>
                    </div>
                </div>
            </div>


            <!-- card 5 -->
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/Animal-welfare-&-save-birds-campaign.png" alt="Card Image">
    
                        <!-- location favourite and pause mission  -->
                        <div class="card-items">
                            <div class="location">
                                <img src="~/images/pin.png" alt="">
                                <p>Cape Town</p>
                            </div>
                            <div class="fav">
                                <img src="~/images/heart.png" alt="">
                            </div>
                            <div class="pause-mission-icon">
                                <img src="~/images/user.png" alt="">
                            </div>
                        </div>
    
                        <!-- mission theme capsule -->
                        <div class="mission-theme">
                            <h3>Animals</h3>
                        </div>
                    </div>
    
                    <!-- card content -->
                    <div class="card-content">
                        <h2 class="card-title">Animal welfare & save birds campaign</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
    
                        <!-- organization and rating -->
                        <div class="organization-rating">
                            <div class="organization">
                                <p>JR Foundation</p>
                            </div>
                            <div class="rating">
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                            </div>
                        </div>
    
                        <!-- seats and deadline -->
                        <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                            <div class="seats-detail d-flex align-items-center">
                                <img src="~/images/Seats-left.png" alt="">
                                <div class="d-flex flex-column">
                                    <p>10</p>
                                    <p>Seats left</p>
                                </div>
                            </div>
                            <div class="duration-detail d-flex align-items-center">
                                <img src="~/images/achieved.png" alt="">
                                <div class="d-flex flex-column">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    <p>8000 Achieved</p>
                                </div>
                            </div>
    
                            <div class="mission-date">
                                <p>Plant 10000 Trees</p>
                            </div>
                        </div>
    
                        <!-- apply button -->
                        <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                                Apply
            <img src="~/images/right-arrow.png" alt="">
            <img src="~/images/right-arrow2.png" alt="">
                            </button>
                    </div>
                </div>
            </div>


            <!-- card 6 -->
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-image">
                        <img src="~/images/Plantation-and-Afforestation-programme.png" alt="Card Image">
    
                        <!-- location favourite and pause mission  -->
                        <div class="card-items">
                            <div class="location">
                                <img src="~/images/pin.png" alt="">
                                <p>Paris</p>
                            </div>
                            <div class="fav">
                                <img src="~/images/heart.png" alt="">
                            </div>
                            <div class="pause-mission-icon">
                                <img src="~/images/user.png" alt="">
                            </div>
                        </div>
    
                        <!-- mission theme capsule -->
                        <div class="mission-theme">
                            <h3>Health</h3>
                        </div>
                    </div>
    
                    <!-- card content -->
                    <div class="card-content">
                        <h2 class="card-title">Plantation and Afforestation Programme</h2>
                        <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
    
                        <!-- organization and rating -->
                        <div class="organization-rating">
                            <div class="organization">
                                <p>Amaze Doctors</p>
                            </div>
                            <div class="rating">
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/selected-star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                                <span><img src="~/images/star.png" alt=""></span>
                            </div>
                        </div>
    
                        <!-- seats and deadline -->
                        <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                            <!-- <div class="seats-detail d-flex align-items-center">
                                <img src="~/images/Seats-left.png" alt="">
                                <div class="d-flex flex-column">
                                    <p>10</p>
                                    <p>Seats left</p>
                                </div>
                            </div> -->
                            <div class="duration-detail d-flex align-items-center">
                                <img src="~/images/achieved.png" alt="">
                                <div class="d-flex flex-column">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    <p>8000 Achieved</p>
                                </div>
                            </div>
                            <div class="seats-detail d-flex align-items-center">
                            </div>
    
                            <div class="mission-date">
                                <p>Plant 10000 Trees</p>
                            </div>
                        </div>
    
                        <!-- apply button -->
                        <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                                Apply
            <img src="~/images/right-arrow.png" alt="">
            <img src="~/images/right-arrow2.png" alt="">
                            </button>
                    </div>
                </div>
            </div>


            <!-- card 7 -->
            <div class="col col-md-6 col-lg-4">
                <div class="card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>New York</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Education</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Grow Trees - On the path to environment sustainibility</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>Tree Canada</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>


                    <!-- apply button -->
                    <div class="border-top"></div>
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            View Details
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
                        </button>
                </div>
            </div>
            </div>


            <!-- card 8 -->
            <div class="col col-md-6 col-lg-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>Sydney</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Children</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Education Supplies for Every Pair of Shoes Sold</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>Australian Paradise</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>

                    <!-- seats and deadline -->
                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                        <div class="seats-detail d-flex align-items-center">
                            <img src="~/images/Already-volunteered.png" alt="">
                            <div class="d-flex flex-column">
                                <p>250</p>
                                <p>Already Volunteered</p>
                            </div>
                        </div>
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p>09/01/2019</p>
                                <p>Deadline</p>
                            </div>
                        </div>

                        <div class="mission-date">
                            <p>From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>

                    <!-- apply button -->
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            Apply
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
                        </button>
                </div>
            </div>
            </div>


            <!-- card 9 -->
            <div class="col col-md-6 col-lg-4">
            <div class="card">
                <div class="card-image">
                    <img src="~/images/Nourish-the-Children-in--African-country.png" alt="Card Image">

                    <!-- location favourite and pause mission  -->
                    <div class="card-items">
                        <div class="location">
                            <img src="~/images/pin.png" alt="">
                            <p>Berlin</p>
                        </div>
                        <div class="fav">
                            <img src="~/images/heart.png" alt="">
                        </div>
                        <div class="pause-mission-icon">
                            <img src="~/images/user.png" alt="">
                        </div>
                    </div>

                    <!-- mission theme capsule -->
                    <div class="mission-theme">
                        <h3>Nutrition</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">Nourish the Children in African country</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>

                    <!-- organization and rating -->
                    <div class="organization-rating">
                        <div class="organization">
                            <p>The Hunger</p>
                        </div>
                        <div class="rating">
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/selected-star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                            <span><img src="~/images/star.png" alt=""></span>
                        </div>
                    </div>

                    <!-- seats and deadline -->
                    <div class="mission-details d-flex justify-content-around border-top border-bottom p-3">
                        <div class="seats-detail d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <div class="d-flex flex-column">
                                <p>10</p>
                                <p>Seats left</p>
                            </div>
                        </div>
                        <div class="duration-detail d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <div class="d-flex flex-column">
                                <p>09/01/2019</p>
                                <p>Deadline</p>
                            </div>
                        </div>

                        <div class="mission-date">
                            <p>Ongoing Oportunity</p>
                        </div>
                    </div>

                    <!-- apply button -->
                    <button class="card-button d-flex justify-content-between align-items-center align-self-center">
                            Apply
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
                        </button>
                </div>
            </div>
            </div>

        </div>
    </div>