@{
    var UserName = ViewBag.UserName;
    var Email = ViewBag.Email;
    var IsLoggedIn = ViewBag.IsLoggedIn;
    var UserId = Convert.ToInt64(ViewBag.UserId);
    //UserId = long.Parse(UserId);
}
<script>
    var userId = @Html.Raw(Json.Serialize(UserId));
</script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    @*swiper css file*@

    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">*@
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" rel="stylesheet">

    <!-- flat date picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    @*font awesome icon cdn*@
    <script src="https://kit.fontawesome.com/0ae5aef6fc.js" crossorigin="anonymous"></script>

</head>

<body class="">
    <div class="min-vh-100 d-flex flex-column">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light d-flex justify-space-between align-items-center">
                <div class="container-fluid ps-0">
                    <div class="left">
                        <button class="navbar-toggler ps-0" type="button" data-bs-toggle="offcanvas" aria-controls="offcanvasExample" href="#topmenu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <img src="~/images/logo.png" alt="">
                    </div>

                    <div class="offcanvas offcanvas-start" tabindex="-1" id="topmenu" aria-labelledby="topmenulabel">
                        <div class="offcanvas-header">
                            <img src="~/images/logo.png" alt="">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div class="middle">
                                <div class="" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 header-menu">
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Story" asp-action="StoriesListing">Stories</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                           @await Component.InvokeAsync("UserHeader", "Privacy")
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @await Component.InvokeAsync("UserHeader", "Default")
                </div>
            </nav>
        </div>
        <div class="border-bottom"></div>
        <div class="flex-grow-1">

            @RenderBody()
        </div>
    <footer>
        <div class="container d-flex">
            <p class="form-text"><a asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a></p>
            <p class="form-text" data-bs-toggle="modal" data-bs-target="#contact-us" id="contact-us-text"><a>Contact Us</a></p>


            <div class="modal fade" id="contact-us" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body px-5">
                            <div class="skill-heading d-flex justify-content-between">
                                <h3 class="d-inline mb-0">Contact Us</h3>
                                <button type="button" class="btn-close text-end" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            @await Component.InvokeAsync("UserHeader", "Contact_Us")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*sweeper js files*@
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/site.js"></script>

    <!-- flat date picker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- for validations -->
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
