<div class="container d-flex flex-column justify-content-center">
<h2 class="text-center">No Mission Found</h2>
<a href="#" class="btn submitNewMissionBtn loginbtn d-flex justify-content-center align-items-center">Submit a New Mission <img class="ml-3" src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt=""></a>
</div>