@model CI_Platform.Entities.ViewModels.UserHeaderViewModel;
@if (Model.isLoggedIn == "True")
{
    <form class="formcontent my-0" id="contact-us-form">
        <div>
            <label class="formlabels" asp-for="UserName">Name*</label>
            <input type="text" class="form-control" id="Name" asp-for="UserName" name="UserName" readonly>
        </div>
        <div>
            <label class="formlabels" asp-for="userEmail">Email*</label>
            <input type="email" class="form-control" id="Email" asp-for="userEmail" name="userEmail" readonly>
        </div>
        <div>
            <label class="formlabels" asp-for="Subject">Subject*</label>
            <input type="text" class="form-control" id="Subject" asp-for="Subject" placeholder="Enter your Subject" name="Subject">
            <span id="SubjectValidation" class="text-danger"></span>
        </div>
        <div>
            <label class="formlabels" asp-for="Message">Message*</label>
            <textarea class="form-control" id="Message" asp-for="Message" placeholder="Enter your Message" name="Message" rows="3"></textarea>
            <span id="MessageValidation" class="text-danger"></span>
        </div>
        <div class="d-flex justify-content-end mt-3">
            <button type="button" class="btn btn-outline-secondary skill-btn" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" id="contact-us-btn" class="btn mt-0 card-button ms-2 me-0" data-bs-dismiss="modal">Save</button>
        </div>
    </form>
}
else
{
    <!-- Login button -->
    <a type="button" href="@Url.Action("Index", "Home", new { returnUrl = @Context.Request.Path })" class="card-button d-flex justify-content-between align-items-center align-self-center mt-0">
        Login
        <img src="~/images/right-arrow.png" alt="">
        <img src="~/images/right-arrow2.png" alt="">
    </a>
}