@{
    Layout = "_HeaderLayout";
    ViewData["Title"] = "Stories Listing";
}
@model CI_Platform.Entities.ViewModels.StoriesListingModel

<partial name="_SearchBarPartial" class="mb-0"/>


<div class="hero-banner">
    <img src="../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <a type="button" asp-controller="Story" asp-action="ShareStory" class="btn btn-outline-light rounded-pill hero-btn px-4 py-2">Share your story &nbsp;<i class="bi bi-arrow-right"></i></a>
</div>

<div class="container">
    <div class="row" id="story-container">
         <!-- story card will be displayed here from _StoryPartial -->
    </div>
</div>

<!-- pagination -->
<div class="container">
    <nav aria-label="Page navigation example" class="pagination justify-content-center">
        <ul class="pagination" id="pagination-container">
            <!-- its dynamically added when ajax call get success -->
        </ul>
    </nav>
</div>