@{
    Layout = "_HeaderLayout";
    ViewData["Title"] = "Stories Listing";
}
@model CI_Platform.Entities.ViewModels.StoriesListingModel

<partial name="_SearchBarPartial" class="mb-0"/>


<div class="hero-banner">
    <img src="../images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" />
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>

    <button type="button" class="btn btn-outline-light rounded-pill hero-btn px-4 py-2">Share your story &nbsp;<i class="bi bi-arrow-right"></i></button>
</div>

<div class="container">
    <div class="row" id="story-container">
        @*<partial name="_StoryPartial" />*@
        
        <!-- card 1 -->
        @*<div class="col-12 col-md-6 col-lg-4">
            <div class="card story-card">
                <div class="card-image">
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card Image">
                    <button type="button" class="btn sl-card-btn btn-outline-light rounded-pill hero-btn px-4 py-2">View Details &nbsp;<i class="bi bi-arrow-right"></i></button>
                    <!-- story capsule -->
                    <div class="mission-theme">
                        <h3>Customer Experience</h3>
                    </div>
                </div>

                <!-- card content -->
                <div class="card-content">
                    <h2 class="card-title">10 User and Customer Engagement Strategies for 2019</h2>
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus odit sequi doloribus, exercitationem...</p>
                    <!-- image and name -->
                    <div class="d-flex story-creator justify-content-start align-items-center">
                        <img src="~/images/volunteer1.png" class="me-3"/>
                        <span>Andrew Johnson</span>
                    </div>
                </div>
            </div>
        </div>*@

        

        
    </div>
</div>

@*pagination*@
<div class="container">
    <nav aria-label="Page navigation example" class="pagination justify-content-center">
        <ul class="pagination" id="pagination-container">
            <!-- its dynamically added when ajax call get success -->
        </ul>
    </nav>
</div>